src/main/mule/mulesoft-cicd-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="509d54dc-e96b-4b1a-a7c5-500d62c4c08e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-cicd-exampleFlow" doc:id="ecbc77f3-b785-40e1-bb19-5e44e3574c71" >
		<http:listener doc:name="Listener" doc:id="13f7de03-f09b-4ed7-9fd1-8c91052f83c4" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<ee:transform doc:name="Transform Message" doc:id="49f81e57-584d-4dc2-840b-8036a130df59" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	"welcome to my first app test"
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="eede231b-1a88-4045-8513-380b5b4cb6b1" message="#[payload]"/>
	</flow>
</mule>
